#chart-vertical-flex {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#line-chart-flex {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#sunburst-flex {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#sunburst {
    width: 640px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border-radius: 500px;
    margin-left: 75px;
}

#line-chart {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    margin-right: 75px;
}

#utility-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index:100;
}

#utility-button {
    background-color: white;
}

#mapid {
    width: 100%;
    height: 100%;
}

#line-graph-section {
    background-color: #27ae60;
}

#fp-nav span  {
    background-color: white !important;
    box-shadow: 0px 1px black;
}

.AnaHead {
    text-align: justify;
}

.AnaItem{
    
}

#lotsOfImg {
    display: flex;
    width: 800px;
    height: 400px;
    flex-wrap: wrap;
    flex-direction: row;
}

#lotsOfImg img {
    width: 200px;
}